version: 2.1
orbs:
  kubernetes: circleci/kubernetes@0.12.0
  aws-cli: circleci/aws-cli@2.0.3

jobs:
  test_job:
    working_directory: ~/repo
    docker:
      - image: circleci/golang:1.17.2
    environment:
      GO111MODULE: "on"
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v4-{{ checksum "go.sum" }}
      - run:
          name: install dependencies
          command: make install
      - save_cache:
          key: go-mod-v4-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"
      - run:
          name: Run test
          command: make test

  build_job:
    working_directory: ~/repo
    docker:
      - image: circleci/golang:1.17.2
    environment:
      PROJ_NAME: blitzshare.api
    steps:
      - checkout
      - kubernetes/install-kubectl
      - aws-cli/setup
      - setup_remote_docker:
          version: 19.03.13
          docker_layer_caching: false
      - run:
          name: install bump-cli
          command: |
            sudo apt update
            sudo apt install nodejs npm
            sudo npm install -g bump-cli
      - run:
          name: docker build, tag & push
          command: |
            TAG=latest
            docker login -u ${DOCKERHUB_USER} -p ${DOCKERHUB_PASSWORD}
            docker build -t  ${PROJ_NAME}:${TAG} .
            docker tag ${PROJ_NAME}:${TAG} iamkimchi/${PROJ_NAME}:${TAG}
            docker push iamkimchi/${PROJ_NAME}:${TAG}
      - run:
          name: api doc gen
          command: make swag-gen
      - store_artifacts:
          path: ./docs/swagger.yaml
          destination: swagger.yaml
      - run:
          name: upload bump docs
          command: sudo npm exec -- bump deploy ./docs/swagger.yaml -t $BUMP_TOKEN -d blitzshareapi

  deploy_job:
    working_directory: ~/repo
    docker:
      - image: circleci/golang:1.17.2
    steps:
      - checkout
      - kubernetes/install-kubectl
      - aws-cli/setup
      - run:
          name: configure cluster context
          command: aws eks --region eu-west-1 update-kubeconfig --name blitzshare-cluster 
      - run:
          name: k8s deploy
          command: |
            pushd k8s
            bash apply.sh
            popd

workflows:
  test-deploy-wf:
    jobs:
      - test_job:
          context: eu-west-1
      - build_job:
          context: eu-west-1
          requires:
            - test_job
          filters:
            branches:
              only:
                - main
