apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: blitzshare-api-ns
  name: blitzshare-api-deployment
  labels:
    app: blitzshare-api
spec:
  selector:
    matchLabels:
      app: blitzshare-api
  replicas: 1
  template:
    metadata:
      labels:
        app: blitzshare-api
    spec:
      containers:
        - name: blitzshare-api
          image: iamkimchi/blitzshare.api:latest
          imagePullPolicy: Always
          env:
            - name: ENV
              value: prod
            - name: PORT
              value: "8000"
            - name: S3_BUCKET_NAME
              value: blitzshare-fileshare-store
            - name: S3_BUCKET_UPLOAD_KEY
              value: "share"
            - name: S3_BUCKET_REGION
              value: "*********"
            - name: REDIS_URL
              value: "redis-svc.blitzshare-api-ns.svc.cluster.local:6379"
          ports:
            - containerPort: 8000
          resources:
            limits:
              memory: 256Mi
              cpu: "250m"
            requests:
              memory: 128Mi
              cpu: "80m"