apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: blitzshare-ns
  name: blitzshare-api-dpl
  labels:
    app: blitzshare-api
spec:
  selector:
    matchLabels:
      app: blitzshare-api
  replicas: 1
  template:
    metadata:
      labels:
        app: blitzshare-api
    spec:
      containers:
        - name: blitzshare-api
          image: iamkimchi/blitzshare.api:latest
          imagePullPolicy: Always
          env:
            - name: ENV
              value: prod
            - name: PORT
              value: "8000"
            - name: REDIS_URL
              value: "redis-svc.blitzshare-ns.svc.cluster.local:6379"
            - name: QUEUE_URL
              value: kubemq-cluster-grpc.kubemq.svc.cluster.local
          livenessProbe:
            failureThreshold: 1
            httpGet:
              path: /test
              port: 8000
              scheme: HTTP
          readinessProbe:
            failureThreshold: 1
            httpGet:
              path: /test
              port: 8000
              scheme: HTTP
            initialDelaySeconds: 0
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 5
          ports:
            - containerPort: 8000
          resources:
            limits:
              memory: 256Mi
              cpu: "250m"
            requests:
              memory: 128Mi
              cpu: "80m"